{% extends "blog/base.html" %}

{% block title %}Share the post{% endblock %}
{% block content %}
    {% if sent %}
        <h1>The email has been sent</h1>
        <p>
            Send a post {{ post.title }} to {{ cd.to }} was successful.
        </p>
    {% else %}
        <h1>Share "{{ post.title }}" by email</h1>
        <form action="." method="POST">
            {% for field in form %}
                <div>
                    {{ field.errors }}
                    {{ field.label_tag }}{{ field }}
                </div>
            {% endfor %}
            {% csrf_token %}
            <input type="submit" value="Send email">
        </form>
    {% endif %}
{% endblock %}